body {
    margin: 0 0 0 0;
    font-family: courier, monospace;
}

h1 {
    margin: 0 0 0 0;
    background-color: #000000;
    color: #FFFFFF;
}

ul {
    list-style-type: none;
}

footer {
    margin: 0 0 0 0;
    background-color: #000000;
    color: #FFFFFF;
}

footer p a {
    color: #FFFFFF;
}
